<tr>
  <td><%= link_to song.name, admin_song_path(song) %></td>
  <td><%= song.album.artist.name %></td>
  <td><%= song.album.name %></td>
  <td><%= song.duration %></td>
  <td><%= song.genre.name %></td>
  <td>
    <div class="btn-group">
      <% if current_user.superadmin? || current_user.id == song.user_id %>
        <%= link_to 'Edit', edit_admin_song_path(song), class: 'btn btn-sm btn-primary' %>
        <%= link_to 'Delete', admin_song_path(song), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-sm btn-danger' %>
      <% end %>
    </div>
  </td>
</tr>
