<tr>
  <td><%= link_to song.name, tuner_song_path(song) %></td>
  <td><%= song.album.artist.name %></td>
  <td><%= song.album.name %></td>
  <td><%= song.duration %></td>
  <td><%= song.genre.name %></td>
  <td>
    <div class="btn-group">
      <% if Favorite.where(song_id: song.id, user_id: current_user.id).empty? %>
        <%= link_to tuner_favorites_path(song_id: song.id), method: :post, class: '' do %>
          <i class="fa fa-heart-o" aria-hidden="true"></i>
        <% end %>
      <% else %>
        <%= link_to tuner_favorite_path(song.id), method: :delete, class: '' do %>
          <i class="fa fa-heart" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </div>
  </td>
  <td>
    <%= link_to song.youtubelink, class: '', target: "_blank" do %>
      <i class="fa fa-youtube-play" aria-hidden="true"></i>
    <% end %>
  </td>
  <td>
    <%= link_to tuner_playlist_songs_path(song_id: song.id, playlist_id: current_user.playlists.first.id), method: :post do %>
      <i class="fa fa-list-ul" aria-hidden="true"></i>
    <% end %>
  </td>
</tr>
