<div class="container">
  <h1> Dashboard </h1>
  <p>My Tunes has <%= @registered_users_count %> registered users </p>
  <p>App has <%= @artists_count %> artists </p>
  <p>Artists have released <%= @albums_count %> albums so far </p>
  <p>With <%= @songs_count %> available for streaming </p>
  <p> There are <%= @genres_count %> generes in the app</p>
</div>
